{% load static %}
<header>
	<!-- TOP HEADER -->
	<div id="top-header">
		<div class="container">
			<ul class="header-links pull-left">
				<li><a href="#"><i class="fa fa-phone"></i> +098-11-11-111</a></li>
				<li><a href="#"><i class="fa fa-envelope-o"></i> webshop@gmail.com</a></li>
				<li><a href="#"><i class="fa fa-map-marker"></i> Gilanska 128/8, Kyiv</a></li>
			</ul>
			<ul class="header-links pull-right">
				{% if not user.is_authenticated %}
					<li><a href="#"><i class="fa fa-user-o"></i> Гість</a></li>
				{% else %}
					<li><a href="#"><i class="fa fa-user-o"></i> {{ user.username }}</a></li>
				{% endif %}
			</ul>
			<input type="hidden" id="user-id" value="{{ user.id }}">
		</div>
	</div>
	<!-- /TOP HEADER -->

	<!-- MAIN HEADER -->
	<div id="header">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
				<!-- LOGO -->
				<div class="col-md-3">
					<div class="header-logo">
						<a href="#" class="logo">
							<img src="{% static 'img/logo.png' %}" alt="">
						</a>
					</div>
				</div>
				<!-- /LOGO -->

				<!-- SEARCH BAR -->
				<div class="col-md-6">
					<div class="header-search">
						<form>
							<select class="input-select">
								<option value="0">Всі категорії</option>
								<option value="1">Категорія 01</option>
								<option value="1">Категорія 02</option>
							</select>
							<input class="input" placeholder="Шукати тут">
							<button class="search-btn">Пошук</button>
						</form>
					</div>
				</div>
				<!-- /SEARCH BAR -->

				<!-- ACCOUNT -->
				<div class="col-md-3 clearfix">
					<div class="header-ctn">
						<!-- Wishlist -->
						<div>
							<a href="#">
								<i class="fa fa-heart-o"></i>
								<span>Обране</span>
								<div class="qty">0</div>
							</a>
						</div>
						<!-- /Wishlist -->

						<!-- Cart -->
						<div class="dropdown">
							<a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
								<i class="fa fa-shopping-cart"></i>
								<span>Кошик</span>
								<div id="count" class="qty">0</div>
							</a>
							<div class="cart-dropdown">
								<div class="cart-summary">
									<h5 id="_count">Товарів у кошику: 0 шт</h5>
									<h5 id="_amount">ВАРТІСТЬ: 0.00 грн</h5>
								</div>
								<div class="cart-btns">
									<a href="/orders">Перегляд</a>
									<a href="#">Замовлення  <i class="fa fa-arrow-circle-right"></i></a>
								</div>
							</div>
						</div>
						<!-- /Cart -->

						<!-- Menu Toogle -->
						<div class="menu-toggle">
							<a href="#">
								<i class="fa fa-bars"></i>
								<span>Меню</span>
							</a>
						</div>
						<!-- /Menu Toogle -->
					</div>
				</div>
				<!-- /ACCOUNT -->
			</div>
			<!-- row -->
		</div>
		<!-- container -->
	</div>
	<!-- /MAIN HEADER -->
</header>