{% load static %}
<nav id="navigation">
	<!-- container -->
	<div class="container">
		<!-- responsive-nav -->
		<div id="responsive-nav">
			<!-- NAV -->
			<ul class="main-nav nav navbar-nav">
				<li class="active"><a href="/">Головна</a></li>
				<li><a href="/about">Про сайт</a></li>
				<li><a href="/catalog">Каталог</a></li>
				<li><a href="/news">Новини</a></li>
				<li><a href="/contacts">Контакти</a></li>
			</ul>
			<!-- /NAV -->
		</div> 
		<!-- /responsive-nav -->
	</div>
	<!-- /container -->
</nav>